<h3><i class="fas fa-book-reader" style="margin-right: 2%;"></i>Story Books</h3>

<div class="section">
    <p class="lead">Create public and private stories from your personal life</p>    
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-2">    
        <i class="fab fa-google left"></i>
        Log in with Google
    </a>
</div>