p{
    margin: 10px 0 !important; 
}

.login_container{
    width: 400px;            
    text-align: center;
    margin: 5% auto;
}

.card{
    padding: 30px 10px;
}

.fa_small{
    font-size: 16px !important;
}

.btn_float{
    float: left;
    margin-right: 10px;
}

.img_big{
    width: 180px;
}

.fixed_nav{
    position: fixed;
    top: 0;
    z-index: 998;
}

.add_space{
    margin-top: 7%;
    margin-bottom: 5%;
}

.sidenav{
    z-index: 999;
}