PORT = 3000
MONGO_URI = mongodb+srv://<Insert your username>:<Insert your password>@mongodb-tutorial.tiebf.mongodb.net/?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = <Insert your GOOGLE_CLIENT_ID>
GOOGLE_CLIENT_SECRET = <Insert your GOOGLE_CLIENT_ID>